.default-grid-size {
    height: 21.5rem;
    width: 50rem;
    text-align: left;
}

.header {
    display: flex;
    background-color: #00467d;
    color: white;
    margin: 10px 0 10px 0;
}

.commodities {
    background-color: white !important;
}

.equities {
    background-color: #1e9fd9 !important;
}

.credit {
    background-color: #7bc57b !important;
}

.positivePrice {
    color: blue;
}

.negativePrice {
    color: red;
}

.container {
    margin: 2rem;
    padding: 1rem;
}