table {
    width: 50%;
    margin: 3% 0 auto;
    height: 20vh;
    border-spacing: 1px;
}

td,
th {
    border: 1px solid grey;
}

.header {
    display: flex;
    background-color: #00467d;
    color: white;
    margin: 10px 0 10px 0;
}

.commodities {
    background-color: white;
}

.equities {
    background-color: #3e7bf7;
}

.credit {
    background-color: green;
}

.positivePrice {
    color: blue;
}

.negativePrice {
    color: red;
}